$greenC:green;
$yellowC:yellow;
$pinkC:pink;
$redC:red;


.green
{
    background-color: $greenC;
}
.yellow
{
    background-color:$yellowC;
}
.orange
{
    background-color:$pinkC;
}
.red
{
    background-color: $redC;
}